
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 50%;
  display: block;
  margin:  auto ;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  color: #142b63;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 1.2rem;
}

.input-group label {
  font-size: 0.75rem;
  color: #555;
  margin-bottom: 4px;
  display: block;
}

.username,
.password {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccd0d5;
  border-radius: 4px;
}

.checkbox {
  margin-top: 8px;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
}

.checkbox input {
  margin-right: 6px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #1f3061;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #16224c;
}
.login-error-message{
    color: #ff4d4d;
    font-size: 0.875rem;
    margin-top: 10px;
    text-align: center;
}

@media (min-width: 768px) {
  .login-card {
    padding: 3rem;
    max-width: 400px;
  }

  .title {
    font-size: 1.75rem;
  }
}
